/* https://fluid-builder.webflow.io/?max=90&min=20&g=--size--0-5rem,0.5,0.25_--size--1rem,1,1_--size--1-25rem,1.25,1_--size--1-5-2rem,1.25,0.75_--size--1-5rem,1.5,1.25_--size--1-75rem,1.75,1.5_--size--2-1rem,2,1_--size--2rem,2,1.75_--size--2-5rem,2.5,2_--size--3rem,3,2.5_--size--3-5rem,3.5,2.375_--size--4-2rem,4,2.25_--size--4rem,4,3_--size--4-5rem,4.5,2.75_--size--5rem,5,2_--size--5-5rem,5.5,3.25_--size--6rem,6,3.5_--size--6-5rem,6.5,3.75_--size--7rem,7,4_--size--7-5rem,7.5,4.25_--size--8rem,8,4.5_--size--8-5rem,8.5,4.75_--size--9rem,9,5_--size--9-5rem,9.5,5.25_--size--10rem,10,4_--size--11rem,11,5.75_--size--12rem,12,6_--size--13rem,13,6.5_--size--14rem,14,7_--size--15rem,15,7.5_--size--16rem,16,12.5_--border-radius--outer,2.0625,1.5625_--border-radius--inner,2,1.5_--padding-horizontal--main,7.5,1_--big-card--width,61.25,18_--big-card--height,37.5,14,t_--sw-card--width,41,20_--sw-card--height,28.125,18_--main-image1--width,16,12.5_--main-image1--height,19,15_--main-image2--width,14,11.5_--main-image2--height,17,14&g=:1.26,1.125:--display--font-size,5,2.03_--h1--font-size,3.97,1.8_--h2--font-size,3.15,1.6_--h3--font-size,2.5,1.42_--h4--font-size,1.98,1.27_--h5--font-size,1.57,1.13_--h6--font-size,1.25,1,t&g=:1.2,1.14:--text-large--font-size,1.51,1.3_,1.26,1.14_--text-main--font-size,1.05,1_--text-small--font-size,0.875,0.875,t */

/* fallback for older browsers */
:root {
  --size--0-5rem: 0.5rem;
  --size--1rem: 1rem;
  --size--1-25rem: 1.25rem;
  --size--1-5-2rem: 1.25rem;
  --size--1-5rem: 1.5rem;
  --size--1-75rem: 1.75rem;
  --size--2-1rem: 2rem;
  --size--2rem: 2rem;
  --size--2-5rem: 2.5rem;
  --size--3rem: 3rem;
  --size--3-5rem: 3.5rem;
  --size--4-2rem: 4rem;
  --size--4rem: 4rem;
  --size--4-5rem: 4.5rem;
  --size--5rem: 5rem;
  --size--5-5rem: 5.5rem;
  --size--6rem: 6rem;
  --size--6-5rem: 6.5rem;
  --size--7rem: 7rem;
  --size--7-5rem: 7.5rem;
  --size--8rem: 8rem;
  --size--8-5rem: 8.5rem;
  --size--9rem: 9rem;
  --size--9-5rem: 9.5rem;
  --size--10rem: 10rem;
  --size--11rem: 11rem;
  --size--12rem: 12rem;
  --size--13rem: 13rem;
  --size--14rem: 14rem;
  --size--15rem: 15rem;
  --size--16rem: 16rem;
  --border-radius--outer: 2.0625rem;
  --border-radius--inner: 2rem;
  --padding-horizontal--main: 7.5rem;
  --big-card--width: 61.25rem;
  --big-card--height: 37.5rem;
  --sw-card--width: 41rem;
  --sw-card--height: 28.125rem;
  --main-image1--width: 16rem;
  --main-image1--height: 19rem;
  --main-image2--width: 14rem;
  --main-image2--height: 17rem;
  --display--font-size: 5rem;
  --h1--font-size: 3.97rem;
  --h2--font-size: 3.15rem;
  --h3--font-size: 2.5rem;
  --h4--font-size: 1.98rem;
  --h5--font-size: 1.57rem;
  --h6--font-size: 1.25rem;
  --text-large--font-size: 1.51rem;
  --text-main--font-size: 1.05rem;
  --text-small--font-size: 0.875rem;
}
@media screen and (max-width: 767px) {
  :root {
    --size--0-5rem: 0.25rem;
    --size--1rem: 1rem;
    --size--1-25rem: 1rem;
    --size--1-5-2rem: 0.75rem;
    --size--1-5rem: 1.25rem;
    --size--1-75rem: 1.5rem;
    --size--2-1rem: 1rem;
    --size--2rem: 1.75rem;
    --size--2-5rem: 2rem;
    --size--3rem: 2.5rem;
    --size--3-5rem: 2.375rem;
    --size--4-2rem: 2.25rem;
    --size--4rem: 3rem;
    --size--4-5rem: 2.75rem;
    --size--5rem: 2rem;
    --size--5-5rem: 3.25rem;
    --size--6rem: 3.5rem;
    --size--6-5rem: 3.75rem;
    --size--7rem: 4rem;
    --size--7-5rem: 4.25rem;
    --size--8rem: 4.5rem;
    --size--8-5rem: 4.75rem;
    --size--9rem: 5rem;
    --size--9-5rem: 5.25rem;
    --size--10rem: 4rem;
    --size--11rem: 5.75rem;
    --size--12rem: 6rem;
    --size--13rem: 6.5rem;
    --size--14rem: 7rem;
    --size--15rem: 7.5rem;
    --size--16rem: 12.5rem;
    --border-radius--outer: 1.5625rem;
    --border-radius--inner: 1.5rem;
    --padding-horizontal--main: 1rem;
    --big-card--width: 18rem;
    --big-card--height: 14rem;
    --sw-card--width: 20rem;
    --sw-card--height: 18rem;
    --main-image1--width: 12.5rem;
    --main-image1--height: 15rem;
    --main-image2--width: 11.5rem;
    --main-image2--height: 14rem;
    --display--font-size: 2.03rem;
    --h1--font-size: 1.8rem;
    --h2--font-size: 1.6rem;
    --h3--font-size: 1.42rem;
    --h4--font-size: 1.27rem;
    --h5--font-size: 1.13rem;
    --h6--font-size: 1rem;
    --text-large--font-size: 1.3rem;
    --text-main--font-size: 1rem;
    --text-small--font-size: 0.875rem;
  }
}

/* fluid sizes */
@supports (font-size: clamp(1rem, 0.5rem + 3cqw, 3rem)) {
  :root {
    --size--0-5rem: clamp(0.25rem, 0.1786rem + 0.3571cqw, 0.5rem);
    --size--1rem: clamp(1rem, 1rem + 0cqw, 1rem);
    --size--1-25rem: clamp(1rem, 0.9286rem + 0.3571cqw, 1.25rem);
    --size--1-5-2rem: clamp(0.75rem, 0.6071rem + 0.7143cqw, 1.25rem);
    --size--1-5rem: clamp(1.25rem, 1.1786rem + 0.3571cqw, 1.5rem);
    --size--1-75rem: clamp(1.5rem, 1.4286rem + 0.3571cqw, 1.75rem);
    --size--2-1rem: clamp(1rem, 0.7143rem + 1.4286cqw, 2rem);
    --size--2rem: clamp(1.75rem, 1.6786rem + 0.3571cqw, 2rem);
    --size--2-5rem: clamp(2rem, 1.8571rem + 0.7143cqw, 2.5rem);
    --size--3rem: clamp(2.5rem, 2.3571rem + 0.7143cqw, 3rem);
    --size--3-5rem: clamp(2.375rem, 2.0536rem + 1.6071cqw, 3.5rem);
    --size--4-2rem: clamp(2.25rem, 1.75rem + 2.5cqw, 4rem);
    --size--4rem: clamp(3rem, 2.7143rem + 1.4286cqw, 4rem);
    --size--4-5rem: clamp(2.75rem, 2.25rem + 2.5cqw, 4.5rem);
    --size--5rem: clamp(2rem, 1.1429rem + 4.2857cqw, 5rem);
    --size--5-5rem: clamp(3.25rem, 2.6071rem + 3.2143cqw, 5.5rem);
    --size--6rem: clamp(3.5rem, 2.7857rem + 3.5714cqw, 6rem);
    --size--6-5rem: clamp(3.75rem, 2.9643rem + 3.9286cqw, 6.5rem);
    --size--7rem: clamp(4rem, 3.1429rem + 4.2857cqw, 7rem);
    --size--7-5rem: clamp(4.25rem, 3.3214rem + 4.6429cqw, 7.5rem);
    --size--8rem: clamp(4.5rem, 3.5rem + 5cqw, 8rem);
    --size--8-5rem: clamp(4.75rem, 3.6786rem + 5.3571cqw, 8.5rem);
    --size--9rem: clamp(5rem, 3.8571rem + 5.7143cqw, 9rem);
    --size--9-5rem: clamp(5.25rem, 4.0357rem + 6.0714cqw, 9.5rem);
    --size--10rem: clamp(4rem, 2.2857rem + 8.5714cqw, 10rem);
    --size--11rem: clamp(5.75rem, 4.25rem + 7.5cqw, 11rem);
    --size--12rem: clamp(6rem, 4.2857rem + 8.5714cqw, 12rem);
    --size--13rem: clamp(6.5rem, 4.6429rem + 9.2857cqw, 13rem);
    --size--14rem: clamp(7rem, 5rem + 10cqw, 14rem);
    --size--15rem: clamp(7.5rem, 5.3571rem + 10.7143cqw, 15rem);
    --size--16rem: clamp(12.5rem, 11.5rem + 5cqw, 16rem);
    --border-radius--outer: clamp(1.5625rem, 1.4196rem + 0.7143cqw, 2.0625rem);
    --border-radius--inner: clamp(1.5rem, 1.3571rem + 0.7143cqw, 2rem);
    --padding-horizontal--main: clamp(1rem, -0.8571rem + 9.2857cqw, 7.5rem);
    --big-card--width: clamp(18rem, 5.6429rem + 61.7857cqw, 61.25rem);
    --big-card--height: clamp(14rem, 7.2857rem + 33.5714cqw, 37.5rem);
    --sw-card--width: clamp(20rem, 14rem + 30cqw, 41rem);
    --sw-card--height: clamp(18rem, 15.1071rem + 14.4643cqw, 28.125rem);
    --main-image1--width: clamp(12.5rem, 11.5rem + 5cqw, 16rem);
    --main-image1--height: clamp(15rem, 13.8571rem + 5.7143cqw, 19rem);
    --main-image2--width: clamp(11.5rem, 10.7857rem + 3.5714cqw, 14rem);
    --main-image2--height: clamp(14rem, 13.1429rem + 4.2857cqw, 17rem);
    --display--font-size: clamp(2.03rem, 1.1814rem + 4.2429cqw, 5rem);
    --h1--font-size: clamp(1.8rem, 1.18rem + 3.1cqw, 3.97rem);
    --h2--font-size: clamp(1.6rem, 1.1571rem + 2.2143cqw, 3.15rem);
    --h3--font-size: clamp(1.42rem, 1.1114rem + 1.5429cqw, 2.5rem);
    --h4--font-size: clamp(1.27rem, 1.0671rem + 1.0143cqw, 1.98rem);
    --h5--font-size: clamp(1.13rem, 1.0043rem + 0.6286cqw, 1.57rem);
    --h6--font-size: clamp(1rem, 0.9286rem + 0.3571cqw, 1.25rem);
    --text-large--font-size: clamp(1.3rem, 1.24rem + 0.3cqw, 1.51rem);
    --text-main--font-size: clamp(1rem, 0.9857rem + 0.0714cqw, 1.05rem);
    --text-small--font-size: clamp(0.875rem, 0.875rem + 0cqw, 0.875rem);
  }
}
:root {
  /* ====== FONTS ====== */
  --primary-font: "inter", sans-serif;
  --secondary-font: "Instrument Serif", serif;

  /* ====== COLORS ====== */
  --primary-color: #ff9900;
  --secondry-color: #000000;
  --support-blue-light: #dcf0fe;
  --support-blue-dark: #589ff1;
  --support-purple-light: #ecdbfe;
  --support-purple-dark: #b95ee8;
  --support-orange-light: #fce29c;
  --support-orange-dark: #ff9500;
  --support-green-light: #cdfed3;
  --support-green-dark: #cdfed3;
  --support-yellow-light: #f1fea2;
  --support-yellow-dark: #82b711;
  --neutral-color: #767676;
  --grey-color: #808080;
  --black-border-color: #1a1a1a;

  /* ====== HEADINGS ====== */
  /* H1 */
  --h1-size: var(--size--4-2rem);
  --h1-font-family: var(--primary-font);
  --h1-font-weight: 600;
  --h1-line-height: 1;

  /* H2 */
  --h2-font-size: var(--size--4-2rem);
  --h2-font-family: var(--secondary-font);
  --h2-line-height: 1.1;

  /* H3 */
  --h3-size: 1.75rem;
  --h3-font-family: var(--primary-font);
  --h3-font-weight: 600;
  --h3-line-height: 1.3;

  /* ====== GAPS ====== */
  --gap-main-containers: var(--size--10rem);
  --gap-h1-tagline: var(--size--2-1rem);
  --gap-h2-container: var(--size--4-2rem);
  --gap-2rem: var(--size--2rem);
  --gap-2-5: var(--size--2-5rem);
  --gap-3: var(--size--3rem);
  --Aboutme-grid-gap: var(--size--1-25rem);

  /* ====== BORDER RADIUS ====== */
  --outer-card-border-r: var(--border-radius--outer);
  --inner-card-border-r: var(--border-radius--inner);
  --child-border-r: var(--size--1-5rem);

  /* ====== PADDING ====== */
  --main-padding: var(--padding-horizontal--main);
  --hero-padding: var(--size--5rem);

  /* ====== Text ====== */
  /* Regular */
  --text-regular--size: var(--size--1rem);
  --text-regular--font: var(--primary-font);
  --text-regular--line-height: 1.5;

  /* Medium */
  --text-medium--size: var(--size--1-25rem);
  --text-medium--font: var(--primary-font);
  --text-medium--line-height: 1.5;

  /* Large */
  --text-large--size: var(--size--1-5rem);
  --text-large--font: var(--primary-font);
  --text-large--line-height: 1.5;

  /* Card */
  --card-br-inner: var(--border-radius--inner);
  --card-br-outer: var(--border-radius--outer);

  /* ====== HEADINGS ====== */
  /* ====== HEADINGS ====== */
  /* ====== HEADINGS ====== */
  /* ====== HEADINGS ====== */
  /* ====== HEADINGS ====== */
  /* ====== HEADINGS ====== */
  /* ====== HEADINGS ====== */
}
* {
  box-sizing: border-box;
}

body {
  font-family: var(--primary-font);
  size: var(--text-regular--size);
  line-height: var(--text-regular--line-height);
  margin: 0;
}

.main-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 0rem var(--main-padding);
  padding-top: 0.5rem;
  gap: var(--gap-main-containers);
  padding-bottom: var(--main-padding);
}

p {
  font-size: var(--text-regular--size);
  line-height: var(--text-regular--line-height);
  margin: 0;
}

a {
  color: #000;
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.large-p {
  font-size: var(--text-large--font-size);
  margin: 0;
}

.tagline {
  font-size: var(--text-medium--size);
  color: var(--neutral-color);
}

h1 {
  font-size: var(--h1-size);
  font-family: var(--h1-font-family);
  line-height: var(--h1-line-height);
  font-weight: var(--h1-font-weight);
  margin: 0;
}

h2 {
  font-size: var(--h2-font-size);
  font-family: var(--h2-font-family);
  line-height: var(--h2-line-height);
  font-weight: 500;
  margin: 0;
  text-align: center;
  max-width: 20ch;
}

h3 {
  font-size: var(--h3-size);
  font-family: var(--h3-font-family);
  line-height: var(--h3-line-height);
  font-weight: var(--h3-font-weight);
  margin: 0;
}

.Section {
  width: 100%;
}

.Container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: var(--gap-h2-container);
}

/* Navbar */
.nav-left-wrapper {
  display: flex;
  align-items: center;
  gap: 32px;
}

.brand {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

.brand-image-wrapper {
  height: 40px;
  width: 40px;
  border-radius: 100%;
  box-shadow: 0px 0px 20px 6px rgba(255, 209, 56, 0.6);
  transition: transform 0.3s;
}

.brand-image-wrapper:hover {
  transform: rotate(180deg);
}

.brand-name p {
  font-weight: 500;
  font-family: var(--secondary-font);
  font-size: var(--text-large--size);
}

/* Primary button */
.primary-button {
  color: #fff;
  border-radius: 30px;
  border: 1px solid #383838;
  background: #000;
  box-shadow: 0px -3px 1px 0px #555555 inset,
    0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset,
    0px 3px 4px 0px rgba(0, 0, 0, 0.25);
}

nav {
  position: fixed;
  top: 3%;
  bottom: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 100;
}

.navbar {
  display: flex;
  padding: 8px;
  gap: var(--size--2rem);
  justify-content: space-between;
  align-items: center;
  border: 000;
  border-radius: 40px;
  border: 1px solid #e6e6e6;
  width: 800px;
  background: rgba(255, 255, 255, 0.85);
  box-shadow: 0 2px 5px #0000001a;
}

.nav-items-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.nav-item-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.nav-item {
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  font-weight: 500;
  border-radius: 30px;
}

.nav-item-right {
  border-radius: 30px;
  border: 1px solid #e6e6e6;
  background: #f5f5f5;
}

.nav-link {
  color: #808080;
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 500;
  line-height: 1.5; /* 120% */
  font-size: var(--text-regular--size);
}

.nav-left-wrapper .nav-item:hover {
  /* background-color: #f2f2f2;
  background-image: linear-gradient(315deg, #fafafa, #f2f2f2);
  border: 1px solid #e6e6e6;
  box-shadow: inset 0 -2px 1px #fff;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.08); */

  border-radius: 30px;
  border: 1px solid #e6e6e6;
  background-color: #ebebeb;
  box-shadow: 0px -2px 1px 0px #fff inset, 0px 2px 3px 0px rgba(0, 0, 0, 0.15);
}

.secondary-button {
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 10px 1rem;
  font-size: 1.25rem;
  border-radius: 30px;
  color: #000;
  border-radius: 30px;
  border: 1px solid #e6e6e6;
  background: linear-gradient(180deg, #f5f5f5 0%, #d9d9d9 100%);
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2), 0px -3px 4px 0px #fff inset;
}

/* ============================================================= */

/*  Hero container */
.card-outer {
  border: 1px solid #e6e6e6;
  border-radius: var(--border-radius--outer);
  width: 100%;
  padding: 1px;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.1);
}

.card-inner {
  background-color: #f7f7f7;
  border-radius: var(--border-radius--inner);
  height: 100%;
  box-shadow: inset 0 1.5px 2px #e6e6e6;
  overflow: clip;
}

.card-section {
  height: 90vh;
}

.hero-section {
  width: 100%;
}

.hero-container {
  justify-content: flex-start;
  align-items: flex-end;
  height: 100%;
  padding: var(--hero-padding);
  display: flex;
  position: relative;
}

.hero-h-container {
  font-size: var(--h1--font-size);
  max-width: 20ch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: var(--size--2-1rem);
  position: relative;
  z-index: 2;
}

.hero-image {
  position: absolute;
  bottom: 0%;
  right: 0%;
  /* border: 1px solid black; */
}

.hero-image img {
  height: 700px;
}

.about-section {
  width: 100%;
}

/* About me section */
.layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-auto-columns: 1fr;
  display: grid;
}

.about-me-grid {
  grid-template-rows: auto;
  grid-template-columns: 0.75fr 1fr;
}

.grid-item--about_me {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--size--2rem);
}
.ab_m-right {
  padding-left: 3rem;
}

.img-wrapper {
  justify-content: center;
  align-items: center;
  width: 100%;
  display: flex;
  position: relative;
}

.main-img-holder {
  position: relative;
  left: 5%;
  transform: rotate(-11deg);
  padding: 1rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: white;
  border-radius: 6px;
  box-shadow: 0px 0px 3px 0px rgba(204, 204, 204, 0.8), 0px 2px 4px 0px #ccc;
}

.main-img-holder.big {
  bottom: 10%;
  left: -3%;
  transform: rotate(14deg);
}

.main-img {
  width: var(--main-image1--width);
  height: var(--main-image1--height);
  border-radius: 4px;
}

/* Trusted By Section */
.tb-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--gap-2rem);
}

.tb-companies-wrapper {
  flex-flow: wrap;
  /* justify-content: center; */
}

.tb-companies-wrapper img {
  width: auto;
}

img[src="./assets/images/tb-company.png"],
img[src="./assets/images/tb-company-1.png"],
img[src="./assets/images/tb-company-2.png"],
img[src="./assets/images/tb-company-3.png"] {
  width: auto;
}

/* Selected Work Section */
.portfolio-container {
  position: relative;
}

.cards-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--size--2-5rem);
  position: sticky;
  top: 20%;
}

.grid--SW {
  grid-column-gap: 2.5rem;
  grid-row-gap: 2.5rem;
  grid-template-rows: auto;
  grid-template-columns: 0.75fr 1.5fr;
}

.eyebrow {
  color: gray;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.5;
}

.h3_eyebrow-wrapper {
  gap: var(--gap-2rem);
  color: #000;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 1rem;
  padding-left: 1rem;
  display: flex;
}

.sw-item-button {
  border: 1px solid #ccc;
  border-radius: 30px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.875rem;
  font-size: 1rem;
  line-height: 1.5;
  display: flex;
  transition: background-color 0.3s ease-in-out;
}

.grid_left_content-wrapper {
  gap: var(--size--2-5rem);
  color: var(--button--text);
  flex-flow: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
  display: flex;
}

.button-arrow-icon {
  width: 20px;
  height: 25px;
}

.link-text {
  font-size: 1.125rem;
  font-weight: 500;
}

.image-holder {
  background-color: #f1f1f3;
  border: 1px solid #e6e6e6;
  border-radius: 24px;
  width: 100%;
  height: 60svh;
}

.grid_wrapper--SW {
  padding: 1rem;
}

.grid_right_image-wrapper {
  border-radius: 22px;
  border: 1px solid #e6e6e6;
  overflow: clip;
}

#Selected-work-secton div.card-inner:hover {
  background: linear-gradient(180deg, #fefcf6 0.01%, #fcf7e8 96.17%);
}

a.sw-item-button:hover {
  border: 1px solid #666;
  background: #f0d175;
  box-shadow: 0px 2px 2px 0px #fff inset;
}

/* Portfolio */
.project-image-wrapper {
  padding: var(--size--1-5-2rem);
  /* border: ; */
}

.project-image-wrapper img {
  border-radius: 1.25rem;
  width: var(--big-card--width);
  height: var(--big-card--height);
  border: 1px solid #e6e6e6;
  margin-bottom: -8px;
}

/* Footer */
.footerr-container {
  z-index: 1;
  position: relative;
  width: 100%;
  padding-bottom: 1rem;
}

.footerr-container.container {
  color: var(--button--text);
  font-size: 1rem;
  line-height: 1.5;
}

.footer {
  padding-left: var(--gap-2-5);
  padding-right: var(--gap-2-5);
}

.footerr-inner-wrapper {
  padding: 2rem;
  position: relative;
}

.footerr-content-wrapper {
  grid-column-gap: 64px;
  grid-row-gap: 64px;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
  position: relative;
  z-index: 1;
}

.email {
  font-size: var(--h3-size);
}

.hr {
  background-color: #000;
  width: 100%;
  height: 1px;
}

.footerr-heading {
  font-size: var(--h2-font-size);
  line-height: 1.3;
  font-weight: 600;
}

.primary-button-2 {
  background-color: #000;
  border-radius: 30px;
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  color: #fff;
}

[wPadding="true"] {
  padding: 1rem;
}

.contact-links-wrapper {
  flex-flow: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  display: flex;
  color: #000;
}

.social-media-links-wrapper {
  grid-column-gap: 0.75rem;
  grid-row-gap: 0.75rem;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.sm-links {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.sm-holder {
  border: 1px solid #888;
  border-radius: 60%;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  display: flex;
}

.sm-holder:hover {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.7) 0%,
    rgba(219, 219, 219, 0.7) 100%
  );
  box-shadow: 0px -4px 2px 0px rgba(250, 250, 250, 0.8) inset;
}

.sm-holder img {
  width: 20px;
  height: 20px;
}

.footer-gradient {
  width: 90%;
  height: 60svh;
  position: absolute;
  bottom: -30%;
  left: 5%;
  border-radius: 8000px;
  background: linear-gradient(180deg, #fff9e3 0%, #f4d271 50%);
  filter: blur(150px);
}

/* Skill section */
.skill-section,
.skill-container {
  width: 100%;
}

.skill-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--gap-h2-container);
}
.skills-card-wrapper {
  width: 100%;
  grid-column-gap: 0rem;
  grid-row-gap: 0rem;
  justify-content: center;
  align-items: center;
  padding-left: 5rem;
  display: flex;
}

.div-block-11 {
  margin-right: 5rem;
}

.inner_header_wrapper-sk {
  justify-content: center;
  align-items: center;
  padding-top: 12px;
  padding-bottom: 12px;
  display: flex;
}

.skill-card-wrapper {
  background-color: #d9d9d9;
  border-radius: 25px;
  width: 18rem;
  margin-left: -4rem;
  padding: 0.8px;
  transform: rotate(7deg);
  box-shadow: 0 3px 4px #00000014, -1px 0 4px #0000001a;
}

/*  */
.header_wrapper-sk {
  color: #3a7fcf;
  background-image: linear-gradient(#cfebfe, #e1f3ff);
  border-radius: 24px 24px 0 0;
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  box-shadow: inset 4px 0 1px #1c58c733, inset 0 2px 1px #fff;
}

.skills-card-wrapper .skill-card-wrapper:first-child .header_wrapper-sk {
  color: #699e34;
  background-image: linear-gradient(#f5ffbf, #e5ff4f);
  box-shadow: inset 4px 0 1px #549c0840, inset 0 2px 1px #fff;
}

.skills-card-wrapper .skill-card-wrapper:nth-child(2) .header_wrapper-sk {
  color: #a55ced;
  background-image: linear-gradient(#e2c9ff, #f1e3ff);
  box-shadow: inset 4px 0 1px #711cc733, inset 0 2px 1px #fff;
}

.skills-card-wrapper .skill-card-wrapper:nth-child(3) .header_wrapper-sk {
  color: #17cf91;
  background-image: linear-gradient(#b4fdba, #cdfed1);
  box-shadow: inset 4px 0 1px #28bd8b47, inset 0 2px 1px #fff;
}

.content_wrapper-sk {
  background-color: #fff;
  border-bottom-right-radius: 24px;
  border-bottom-left-radius: 24px;
  flex-flow: column;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  display: flex;
}

.item_wrapper-sk {
  border-bottom: 0.8px solid #ccc;
  padding: 1rem 0.5rem;
}

.item_wrapper-sk > p {
  font-weight: 600;
}

.item_wrapper-sk.bottom_curved {
  border-bottom-right-radius: 24px;
  border-bottom-left-radius: 24px;
}

.item_wrapper-sk.bottom-no-stroke {
  border-bottom-style: none;
}

.first-sk-card {
  transform: rotate(-11deg);
}

.second-sk-card {
  transform: rotate(4deg);
}

.third-sk-card {
  transform: rotate(-3deg);
}

.fourth-sk-card {
  transform: rotate(-6deg);
}

.div-block-12 {
  display: none;
}

.more-tag {
  color: #ccc;
  font-weight: 700;
}

@media screen and (max-width: 991px) {
  .about-me-grid {
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
  }

  .ab_m-right {
    padding-left: 0rem;
    padding-top: var(--size--2-5rem);
  }

  .grid--SW {
    grid-row-gap: var(--gap-2-5);
    grid-template-columns: 1fr;
  }

  .h3_eyebrow-wrapper {
    padding-top: 0;
    padding-left: 0;
  }

  .grid_right_image-wrapper {
    grid-area: 1 / 1 / 2 / 2;
  }

  .footer-gradient {
    bottom: -10%;
  }

  .skill-card-wrapper {
    margin-left: 0;
  }
}

@media screen and (max-width: 767px) {
  .contact-links-wrapper {
    gap: var(--gap-2rem);
    flex-flow: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
  }

  .img-wrapper {
    flex-direction: column;
  }

  .main-img-holder.big {
    bottom: 0%;
    left: -3%;
    transform: rotate(-14deg);
  }

  .main-img-holder {
    transform: rotate(12deg);
  }
}

@media screen and (max-width: 450px) {
  .footer {
    padding: 1rem;
  }

  .email {
    font-size: 1.25rem;
  }
}
